.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    
    
}
body {
    background-color: grey;
    color: rgb(242, 242, 243);
}
.enterprices-pages {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: crimson;
    color: gold;
}

.enterprices-pages .industries :hover {
    color: black;
}